services:
  brezel-api:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/arm64
    container_name: brezelscraper-go-api-dev
    environment:
      - DSN=${DSN}
      - DATA_FOLDER=${DATA_FOLDER:-/gmapsdata}
      - WEB_ADDR=${WEB_ADDR:-:8080}
      - LOG_LEVEL=${LOG_LEVEL:-debug}
      - CONCURRENCY=${CONCURRENCY:-1}
      - CLERK_API_KEY=${CLERK_API_KEY}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
      - DISABLE_TELEMETRY=1
    command: [ "-web" ]
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8080:8080"
    volumes:
      - ./gmapsdata:/gmapsdata
    restart: unless-stopped

  frontend:
    build:
      context: ../google-maps-scraper-webapp
      dockerfile: Dockerfile
    platform: linux/arm64
    container_name: brezelscraper-webapp-dev
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8080
      - NEXT_PUBLIC_ENVIRONMENT=development
      - NODE_ENV=development
      - CLERK_SECRET_KEY=${CLERK_SECRET_KEY}
      - NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
    restart: unless-stopped
    depends_on:
      brezel-api:
        condition: service_started
